<%- include('./../_partials/head') %>

<h1>Bars</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Style</th>
    </tr>
    <% bars.forEach(bar => { %>
    <tr>
        <td><%= bar.name %></td>
        <td><%= bar.style %></td>
        <td><a href="/bars/<%= bar.id %>/edit">Edit</a></td>
        <td>
            <form method="POST" action="/movies/<%= bar.id %>?_method=DELETE">
                <button class="delete" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <% }); %>
</table>
<br>
<a href="/bars/new">Add A Bar</a>

<%- include('./../_partials/footer') %>